<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="trace">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
    <!-- docker java client -->
    <logger name="org.apache.http" level="INFO"/>
    <logger name="com.github.dockerjava" level="INFO"/>
    <logger name="c.g.d.a.c" level="INFO"/>
    <logger name="c.g.d.jaxrs" level="INFO"/>
    <!-- default logg level for all other packages -->
    <logger level="INFO"/>
</configuration>